<html>
    <head>
        <title>newClient</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="style/newClient.css" >
    </head>
    <body>
        <div class="geral">
            <div class="topo">
                <a href="/"><button>Home</button></a>
            </div>
            <div class="cadastro">
                <form action="/update" method="POST">
                    <input name="id" readonly value="<%=data.id%>">
                    <input minlength="5" maxlength="50" value="<%=data.nome%>" name="nome" placeholder="nome">
                    <input minlength="14" maxlength="14" value="<%=data.cpf_cnpj%>" type="number" name="cpf_cnpj" placeholder="cpf_cnpj">
                    <input minlength="8" maxlength="8" value="<%=data.cep%>" type="number" name="cep" placeholder="cep">
                    <select name="descricao_tipo">
                        <option>cpf</option>
                        <option>cnpj</option>
                    </select>
                    <input minlength="5" value="<%=data.endereco%>" maxlength="50" name="endereco" placeholder="endereco">
                    <input minlength="1" value="<%=data.nro_logradouro%>" maxlength="10" name="nro_logradouro" placeholder="logradouro">
                    <input minlength="1" value="<%=data.bairro%>" maxlength="30" name="bairro" placeholder="bairro">
                    <input minlength="1" value="<%=data.cidade%>" maxlength="50" name="cidade" placeholder="cidade">
                    <input minlength="1" value="<%=data.uf%>" maxlength="2" name="uf" placeholder="estado">
                    <button>Editar</button>
                </form>
            </div>
        </div>
    </body>
</html>